<script type="text/javascript">

 	function sanitize(field) {
		var val = $('input[name="' + field + '"]').val();
		return parseInt(val);
	}
	var fields = ['month','day'];
	function hascellvalue( field ) {
		return $( 'input[name="' + field + '"]').val().length > 0;
	}
	
	function cellvalue( field ) {
		return sanitize(field);
	}
	
	function validate( field ) {
	    // Changed this so that we're calling negx_month_b, which *always* returns a set.
	    //   If the set is empty, there is no error.
	    // Also, there is now a DEPENDENT array, where dependent['month'] gives an array of
	    //   all the fields that dependend on 'month'.  We ought to be calling this validate
	    //   function on all of them.
		var i = window['neg_' + field + "_b"].apply( this, [x_func, cellvalue( field )] );
		var haserror = i instanceof expr;
		if (haserror) { console.log( "[" + field + "] has an error: ", i ); }
		
		var $field = $( 'input[name="' + field + '"]' ).parent();
		
		if( haserror ) {
			if( !$field.hasClass( 'field_with_errors' ) )
				$field.addClass( 'field_with_errors' );
				
			$field.find( 'span.status' ).html( "Error with this field" );
			//$('<span/>').html( "Error with this field" ).appendTo( $field.parent() );
			
		} else if( i === false ) {
			if( $field.hasClass( 'field_with_errors' ) ) {
				$field.removeClass( 'field_with_errors' );
				$field.find( 'span.status' ).html( "" );
			}
		}
			
		return i;
	}
	
	function bind() {
		
		$.each( fields, function( i, e ) {
			console.log( 'binding ' + e );
			// console.log( 'input[name="' + e + '"]' );
			$( 'input[name="' + e + '"]' ).change( e, function( evt ) {
				validate( evt.data );
			});
		});
		
		$( '#new_birthdate' ).submit( fields, function( evt ) {
			console.log( 'submission attempt' );
			var valid = true;
			$.each( evt.data, function( i, e ) {
				var result = validate( e );
				if( result !== false ) {
					valid = false;
				}
			});
			console.log( valid );
			return false;
		})
	}
	
	$(document).ready(function() {
		bind();
	});
	
</script>
<%= form_for(@birthdate, url: "/birthdates" ) do |f| %>
  <% if @birthdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@birthdate.errors.count, "error") %> prohibited this birthdate from being saved:</h2>

      <ul>
      <% @birthdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year, name: "year" %>
	<span class="status"></span>
  </div>
  <div class="field">
    <%= f.label :month %><br />
    <%= f.text_field :month, name: "month" %>
	<span class="status"></span>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day, name: "day" %>
	<span class="status"></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
